<form [formGroup]="form">
  <div class="flex flex-col">
    <mat-form-field>
      <mat-label>Pet Name</mat-label>
      <input formControlName="name" matInput required/>
      <mat-error>
        <!--        <app-form-errors [normalErrors]="form.controls.name.errors"></app-form-errors>-->
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input [matDatepicker]="picker" formControlName="dateOfBirth" matInput>
      <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>
        <!--        <app-form-errors [normalErrors]="form.controls.dateOfBirth.errors"></app-form-errors>-->
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Species</mat-label>
      <mat-select formControlName="species">
        @for (specie of species; track specie) {
          <mat-option [value]="specie">{{ specie }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Breed</mat-label>
      <mat-select formControlName="breed">
        @for (breed of breedOptions; track breed) {
          <mat-option [value]="breed">{{ breed }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</form>

@let name = form.value.name;
@let specie = form.value.species;
@let breed = form.value.breed;

@if (name && specie && breed) {
  <p>The {{ specie | lowercase }}, {{ name }}, a(n) {{ breed }}, is {{ age }} years old</p>
}
